* {box-sizing: border-box;}

body {margin: 0; background: #f5f7fa;};

a {text-decoration: none}

.error { 
    padding-inline: 10px;
    font-size: small;
    margin-bottom: 10px;
};

.authError {
    position: fixed;
    width: auto;
    top: 19%;
    z-index: 1001;
}
